extends layouts/app.jade

block title
  title Shopping Method

block vars
  - var bodyClass = 'background-white';  

block main
  main.method-page
    .container
      each val in ['Domestic', 'European']
        .item(style="max-width: 1153px")
          label.mb-2.pl-sm-5
            span= val
          form(action="#")
            - for (var x=0; x<4; x++)
              label.check(for="check-"+x)
                .input-checkbox
                  input(type="checkbox" name="" id="check-"+x)
                  .check-mark
                .text
                  .title Shipping method 1 - (price for customer £15)
                  .small.color-black.font-weight-normal.font-normal Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis gravida enim eu gravida quam nec lectus condimentum. Lectus viverra est porta platea adipiscing dignissim non pulvinar. Viverra ut volutpat scelerisque leo non purus ac, at. Nisi libero viverra ut dui a, neque neque enim maecenas. 
      .save-changes.px-0.pb-0.go-back.mt-4
        button.background-none.color-black 
          img.mr-4.position-static(src="dist/images/arrow-left.png" alt="")
          span Go back
        button Save changes
