extends layouts/app.jade

block title
  title Order

block vars
  - var bodyClass = 'background-white';  

block main
  main.order-page
    .container
      each val in [1, 2, 3]
        .item
          .tigger.position-relative(data-toggle='collapse' data-target='#collapse-'+val aria-expanded='false' aria-controls='collapse-'+val)
            .title
              .text 
                b Merchant: 
                |  Merchant name here
              .text.text-lg-center 
                b Product ID:
                |  485WH182 
              .text.text-lg-right.pr-lg-4 
                b Order Number: 
                |  495869438   
            <i class="fas fa-ellipsis-v"></i>    
          .collapse(id='collapse-'+val)
            .card.card-body
              .product
                .dropdown.d-lg-none.w-100
                  button#dropdownMenuButton.dropdown-toggle.w-100.background-black.mb-4(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | Manage Order
                    <i class="fas fa-ellipsis-v"></i>
                  .dropdown-menu.w-100(aria-labelledby='dropdownMenuButton')
                    .small.dropdown-item.background-none.text-uppercase manage
                    a.dropdown-item(href='#') Track package
                    a.dropdown-item(href='#') Invoice
                    a.dropdown-item(href='#') Return Item
                    a.dropdown-item(href='#') Problem with order
                    a.dropdown-item(href='#') Rate seller

                .product-detailes.w-100
                  .img
                    img.w-100(src="dist/images/product.png" alt="")
                  .process.w-100.d-block.d-sm-none.mobile.m-0
                    .step Reviewing  
                  .text
                    .wraper
                      .title
                        b.d-block.normal BRAND NAME
                        span.big Product name  
                      .title
                        b.d-block.normal Order Date
                        span.big 22-10-2019
                      .title
                        b.d-block.normal Delivery Date
                        span.big 24-10-2019
                      .title
                        b.d-xl-inline-block.d-block Return Before: 
                        span  7-11-2019 
                    .wraper    
                      .title
                        b Item Cost: 
                        span  £585  
                      .title.border-bottom.pb-4
                        b Shipping Cost: 
                        span  £15 
                      .title.mb-0
                        b Total Cost: 
                        span  £600 
                .process.w-100
                  each val in ['Reviewing','Preparing order','Shipped','Delivered']
                    .step.text-center= val
              .tracking
                a.button.active.text-nowrap.only-border(href="#") Track package 
                a.button.text-nowrap.only-border(href="#") Invoice 
                a.button.text-nowrap.only-border(href="#") Return item
                a.button.text-nowrap.only-border(href="#") Problem with order
                a.button.text-nowrap.only-border.mb-0(href="#") Rate Seller

      <ul class="pagination mb-0 align-items-center pt-3">
        <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
        <li><a href="#" class="color-black">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
      </ul>