aside.tab-menu
  ul.nav.nav-tabs
    li
      a.active(href='#home') Profile Information
    li
      a(href='you-details.html') Your Details
    li
      a(href='#menu2') Change Password
  .switch-buyer
    span Switch to buyer account
    <i class="fas fa-sign-out-alt"></i>    