aside.tab-menu
  ul.nav.nav-tabs
    li
      a.active(href='profile-information.html') Profile Information
    li
      a(href='you-details.html') Your Details
    li
      a(href='change-password.html') Change Password
    li
      a(href='#') Affiliate 
    li
      a(href='#') Payouts 
    li
      a(href='#') Privacy & Security 
    li
      a(href='#') Payment Information 
    li
      a(href='#') Contact us         
  .switch-buyer
    span Switch to buyer account
    <i class="fas fa-sign-out-alt"></i>    