aside.tab-menu
  ul.nav.nav-tabs
    li
      a.active(href='profile-information.html') Profile Information
    li
      a(href='you-details.html') Your Details
    li
      a(href='change-password.html') Change Password
  .switch-buyer
    span Switch to buyer account
    <i class="fas fa-sign-out-alt"></i>    