
extends ../layouts/app.jade

block title
  title Influencer -  Change Password - New

block vars
  - var bodyClass = 'influencer';

block main
  main.d-flex.justify-content-center.align-items-center 
    .main-wraper
      include ../partials/aside.jade
      form.influencer-wraper(action="#")
        .change-password.influencer-space
          div(style="max-width: 447px")
            .input-text
              label(for="old-password")
                span Old Password
                input#old-password(type="text")
            .input-text
              label(for="new-password")
                span New Passwod
                input#new-password(type="text")    
            .input-text
              label(for="confirm-password")
                span Confirm New Password
                input#confirm-password(type="text")       
            .password
              ul.indicator.p-0.m-0.list-unstyled
                li.active     
                li.active     
                li.active     
                li.active     
                li     
                li    
              .result
                .row
                  .col-6
                    span Weak
                  .col-6.text-right
                    span.active Strong     
        .save-changes.d-flex.justify-content-end.align-items-center
          button(type="submit") Save changes           