extends ../layouts/app.jade

block title
  title Influencer - Your Details

block vars
  - var bodyClass = 'influencer';

block main
  main.d-flex.justify-content-center.align-items-center 
    .main-wraper
      include ../partials/aside.jade
      form.influencer-wraper(action="#")
        .contact.influencer-space(style="grid-row: 1/-1;")
          .heading
            h4 Contacting Baxter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dolor tellus, pharetra quis laoreet sed, suscipit nec diam. Praesent a mauris lorem. Etiam vel nisl eget augue iaculis sodales. Fusce eleifend scelerisque placerat. Integer in risus nec turpis faucibus fermentum. Nullam a tortor libero. Sed quis ipsum ac justo pulvinar eleifend. Nulla volutpat efficitur ultrices. Vivamus quam est, semper ac dignissim nec, hendrerit in ligula. Mauris in porta ante.
          .input.pt-3.pb-5
            label
              span.d-inline-block.mb-2 By Chat
              .button.mt-4 Chat Now  
          .ticket.mt-4
            label.mb-3
              span.m-0 Create a ticket
            .input-text.mb-4(style="max-width: 447px")
              label(for="subject")
                span Subject
                input#subject(type="text" value="3298738927983287382")  
            .input-texarea.pt-2
              label(for="message")
                span Message
                <textarea class="mb-2" id="message" name="bio" cols="30" rows="10" placeholder="Please describe yourself and interests!"></textarea>        
                button.mt-4(type="submit") Create
        //- .save-changes.d-flex.justify-content-end.align-items-center
          button(type="submit") Save changes           