.change-password {
  .input-text {
    margin-bottom: em(40px);
  }
  .password {
    .indicator {
      display: grid;
      grid-template-columns: repeat(6, em(58px));
      grid-column-gap: em(19px);
      li {
        background: $bombay;
        border-radius: 2px;
        height: 5px;
      }
      .active {
        background: $masala;
      }
    }
    .result {
      margin-top: em(21px);
      span {
        font-size: em(17px);
        font-weight: 700;
        font-family: $m;
        color: $silver;
        &.active {
          color: $black;
        }
      }
    }
  }
}
