.tab-menu {
  border-right: 1px solid $silver;
  min-width: em(351px);
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto max-content;
  .nav-tabs {
    display: block;
    border: none;
    li {
      padding: em(15px) em(60px);
      position: relative;
      a {
        font-weight: 700;
        font-size: em(17px);
        color: $bombay;
        &.active {
          color: $masala;
          &:after {
            content: "";
            height: 100%;
            width: em(4px);
            position: absolute;
            right: 0;
            top: 0;
            background: $masala;
          }
        }
      }
    }
  }
}

// ============================ aside mobile
@include xl {
  .aside-mobile {
    border-right: 1px solid $silver;
    padding: 22px;
    @include sm {
      padding: 15px 10px;
    }
    i {
      font-size: 32px;
      cursor: pointer;
    }
  }
  .mobile-tigger {
    font-size: 32px;
    position: absolute;
    top: 22px;
    left: 22px;
    cursor: pointer;
  }
  .tab-menu {
    position: absolute;
    height: 100%;
    left: -100%;
    background: $white;
    z-index: 999;
    transition: 0.5s;
    .nav-tabs {
      padding-top: 50px;
    }
    &.active {
      left: 0;
    }
  }
}
.tab-menu {
  @include sm {
    min-width: auto;
    left: -110%;
  }
}
