.profile-information {
  .profile-avator {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: em(63px);
    align-items: center;
    margin-bottom: em(37px);
  }
  .avator-text {
    .title {
      font-size: em(25px);
      font-family: $o;
    }
    .description {
      font-family: $p;
      font-style: italic;
      color: $jumbo;
      font-weight: 700;
      font-size: em(13px);
    }
    .avator-email {
      display: grid;
      grid-template-columns: 1fr em(120px);
      grid-column-gap: em(30px);
      max-width: em(600px);
    }
  }
}

.social-meadia {
  margin-top: em(34px);
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: em(30px) em(100px);
    margin-top: em(30px);
  }
  li {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: em(35px);
    align-items: center;
    i {
      height: 32px;
      width: 32px;
      font-size: 19px;
      background: $masala;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
    }
  }
}
