button.btn.btn-primary.w-100.mt-4(type='button' data-toggle='modal' data-target='#report')
  | photo settings activated
#report.modal.fade.open-photo-popup(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.w-100(role='document' style="max-width: 447px;")
    .modal-content
      .modal-header.justify-content-center.py-3
        h5.modal-title.color-red.mb-0  Report Inappropriate Content
      .modal-body.p-0
        ul.report.p-0.m-0.list-unstyled
          li 
            a(href="#") Share 
          li 
            a(href="#") Copy Link 
          li.border-0(data-dismiss='modal' aria-label='Close') 
            a(href="#") Cancel     
